.layout-wrapper {
  display: flex;
  min-height: 100vh;
  background: var(--surface-ground);
}

.layout-main {
  flex: 1;
  /* padding: 1.5rem; */
  margin-left: 240px;
  margin-top: 3rem; /* Añadir margen superior para la barra */
  transition: all 0.3s ease-in-out;
}

.sidebar.collapsed + .layout-main {
  margin-left: 4rem;
}
