/* Reutilizamos los mismos estilos de SaleList */
@import '../../sale/styles/SaleList.css';

/* Estilos específicos para delivery */
.delivery-list-page {
    padding: 0rem;
}

/* Estilo para el botón de filtro de pendientes */
.p-button-warning.p-button-outlined:hover {
    background-color: var(--orange-50);
    border-color: var(--orange-400);
}

/* Estilos para los tags de estado */
.p-tag .p-tag-icon {
    margin-right: 0.25rem;
}