/* Estilos para los filtros */
.p-column-filter {
    width: 100%;
    margin-top: 0.5rem;
}

.p-inputgroup {
    margin-bottom: 0.5rem;
}

/* Mensajes de error */
.p-message-error {
    margin-top: 1rem;
    background-color: #FFCDD2;
    border-color: #EF9A9A;
    color: #B71C1C;
}

/* Estilos para la columna de acciones */
.actions-column {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* Estilos para la página */
.sale-list-page {
    padding: 0rem;
}

/* Estilos para la tabla de detalles */
.details-table {
    margin-top: 1rem;
}